.about__us {
@extend %section;

    background-color: #FFFFFF;
}
.about-us{
@media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    width: 738px;
    gap: 30px;
    margin: 0 auto;
}

@media screen and (min-width:1200px){
    width: 1170px;
}
}
.about-us__svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.about-us .item {
    max-width: 450px;

    @media screen and (min-width:768px) {
    width: 354px;
    justify-content: center;
    gap: 30px;
        }

    @media screen and (min-width:1200px) {
    width: 270px;
}
}

.about-us__title {
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 10px;

    @media screen and (min-width:768px) {
            text-align: left;}
}

.about-us__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);

    margin-bottom: 30px;

    @media screen and (min-width:1200px){
        margin-top: 0px;
        margin-bottom: 0px;
    }
}