.footer__social {
width: 206px;
flex-wrap: wrap;

    @media screen and (min-width:768px) {
        margin-left: 165px;}

    @media screen and (min-width:1200px) {
        margin-left: 70px;
    }
}

.footer-social__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;

    @media screen and (min-width:1200px) {
        text-align: left;
        }
}

.footer-social__media {
    display: flex;
    gap: 10px;
}

.footer__media{
        @include social-media-icon (#FFFFFF, rgba(255, 255, 255, 0.1));

        &:hover,
        &:focus {
            background-color: var(--accent);
        }
    }