.hero {
@extend %section;

    background: #C4C4C4;
    text-align: center;
    max-width: 1600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    // phone screen

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/Headerimgmob.jpg);
    
        // retina mobile screen
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/Headerimgmob@2x.jpg);
        }

    // tablet screen
        // Tablet screen
        @media screen and (min-width: 481px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/Headerimgtab.jpg);
    
            // retina tablet screen
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/hero/Headerimgtab@2x.jpg);
            }
        }
    
// destop screen
        // Desktop screen
        @media screen and (min-width: 769px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/Imgdesk.jpg);
    
            // retina desktop screen
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/hero/Imgdesk@2x.jpg);
            }
        }

    padding-bottom: 0;
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width:1200px) {
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--secondary-color);

margin-bottom: 30px;

@media screen and (min-width:1200px) {
font-size: 44px;
line-height: 1.36;}   
}