.menu {
    display: flex;
    padding: 0;
    list-style: none;
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }
}

.menu-toggle {
    display: flex;
    background-color: inherit;

    margin-left: auto;
    padding: 0;
    cursor: pointer;
    border: none;

        color: #fff;
    
    transition-property: fill;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-timing-function);
    
        &:hover,
        &:focus {
            fill: var(--accent);
        }
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-container {
display: flex;
flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top:48px;
    padding-left: 40px;
    padding-bottom: 48px;
    background-color: #ffffff;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    &.is-open {
            transform: translateX(0);
        }

        @media screen and (min-width: 767.8px) {
            display: none;
        }
}

.mobile__menu_social{
    margin-top: auto;
}

.item-mobile{
&:not(:last-child) {
        margin-bottom: 32px;
    }; }

.link-mobile{
font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--primary-text-color);
 
&.active{
color: var(--accent);

}
}

.tel-mobile{
    font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    
        text-decoration: none;
        color: var(--accent);
}

.mobile__telepxone{
    margin-bottom: 32px;
}

.eml-mobile{
    font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
    text-decoration: none;
        color: var(--secondary-text-color);
}

.mobile__eml{
    margin-bottom: 64px;
}

.social__mobile{
   list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.social__li{
display: block;
display: flex;
align-items: center;
justify-content: center;

&:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        height: 22px;
        padding-right: 10px;
    }

        &:not(:first-child) {
            padding-left: 10px;
        }
}

.social__link{
    display: block;
    font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22px;
        letter-spacing: 0.02em;

        text-decoration: none;
    
        color: var(--accent);
        }

