:root{
    // fonts
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

// colors
--primary-text-color: #212121;
--secondary-text-color: #757575;
--accent: #2196F3;
--secondary-color:#FFFFFF;
--background-footer: #2F303A;

// animation
--transition-duration: 250ms;
--transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// net
--items: 3;
--indent:30px;
}